{% extends 'bootstrap/base.html' %}



{% block content %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
<meta name="generator" content="Hugo 0.104.2">


<link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/album/">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<link href="../static/css/main.css" rel="stylesheet">


<header class="background-OCRV">
  <img src="../static/image/_rzd.png" height="60" width="130" align="left">
    <div class="container">

    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
      </a>

      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">

        <li><a href="#" class="color-button1">Home</a></li>
        <li><a href="#" class="color-button1">Features</a></li>
        <li><a href="#" class="color-button1">Pricing</a></li>
        <li><a href="#" class="color-button1">FAQs</a></li>
        <li><a href="#" class="color-button1">About</a></li>
      </ul>

      <div class="col-md-3 text-end">
        <a href="http://127.0.0.1:5000/sign_in">
          <button type="button" class="button1">Sign-in</button>
        </a>
        <a href="http://127.0.0.1:5000/login">
          <button type="button" class="button1">Login</button>
        </a>

      </div>
    </header>
  </div>
  </div>
</header>

<main>

  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Information about company</h1>
        <p class="lead text-muted">Something short and leading about the company OCRV </p>
        <p>
          <a href="#">
            <button class="button1">More  information</button>
          </a>
          <a href="#">
            <button class="button1">More  information 2</button>
          </a>
        </p>
      </div>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

          {% for name_profession in name_professions %}
            <div class="col">
              <div class="card shadow-sm">

              <img src="../static/image/analize_date.jpg">
              <div class="card-body">
                  <h3 class="fw-light">{{name_profession}}</h3>

                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="button1">Курсы</button>
                    </div>
                    <small class="text-muted">{{ c }}</small>
                </div>


              </div>
              </div>
            </div>

          {% endfor %}


      </div>
    </div>
  </div>

</main>

<div class="background-OCRV">
  <div class="container">
    <footer class="py-3 my-4">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
          <li class="nav-item"><a href="#" class="color-button1">Home</a></li>
          <li class="nav-item"><a href="#" class="color-button1">Features</a></li>
          <li class="nav-item"><a href="#" class="color-button1">Pricing</a></li>
          <li class="nav-item"><a href="#" class="color-button1">FAQs</a></li>
          <li class="nav-item"><a href="#" class="color-button1">About</a></li>
        </ul>
    </footer>
    <div class="aligncenter"><img src="../static/image/_rzd.png" height="80" width="200" ></div>
  </div>
</div>

<script src="/docs/5.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>


{% endblock %}

