{% extends 'bootstrap/base.html' %}



{% block content %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
<meta name="generator" content="Hugo 0.104.2">


<link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/album/">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<link href="../static/css/information.css" rel="stylesheet">



<header>
<div class="container my-5 background-OCRV-2">
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
      <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
        <h1 class="display-4 fw-bold lh-1">Information about you</h1>
        <p class="lead">Answer the questions</p>

          {% for question in questions %}
              <h5>{{question}}</h5>
              <p><input type="number" class="form-control" max="5" min="0" id="floatingNumber" placeholder="Enter number 0-5"></p>
          {% endfor %}


          <button class="button1">Save</button>


      </div>
    </div>
</div>
</header>

<body class="background-OCRV"></body>

<div class="background-OCRV">
  <div class="container">
    <div class="aligncenter"><img src="../static/image/_rzd.png" height="80" width="200" ></div>
  </div>
</div>

<script src="/docs/5.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>



{% endblock %}