.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  .b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }

  .b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
  }

  .bi {
    vertical-align: -.125em;
    fill: currentColor;
  }

  .nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
  }

  .nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }

  .col {
    flex: 1 0 0%;
  }

  .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-right: auto;
    margin-left: auto;
}

.text-muted {
    --bs-text-opacity: 1;
    color: #6c757d!important;
}

.p {
  font-family: Arial, sans-serif;
}

.button1 {
  display: inline-block;
  color: white;
  text-decoration: none;
  padding: .5em 2em;
  outline: none;
  border-width: 2px 0;
  border-style: solid none;
  border-color: #f25050 #000 #f25050;
  border-radius: 6px;
  background: linear-gradient(#f25050, #f25050) #fe6e1c;
  transition: 0.2s;
}
.button1:hover { background: linear-gradient(#f25050, #f25050) #fe6e1c; }
.button1:active { background: linear-gradient(#f25050, #f25050) #fe6e1c; }

.button2 {
  display: inline-block;
  color: #7f7f7f;
  text-decoration: none;
  padding: .5em 2em;
  outline: none;
  border-width: 2px 0;
  border-style: solid none;
  border-color: #ffffff #000 #ffffff;
  border-radius: 6px;
  background: linear-gradient(#ffffff, #ffffff) #ffffff;
  transition: 0.2s;
}
.button2:hover { background: linear-gradient(#ffffff, #ffffff) #ffffff; }
.button2:active { background: linear-gradient(#ffffff, #ffffff) #ffffff; }



.background-OCRV {
  background-color: #7f7f7f;
}

.color-button1 {
  color: white;
}

.color-button2 {
  color: #f25050;
}

.aligncenter {
    text-align: center;
}